/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

@media only screen and (min-width : 320px) {}

@media only screen and (min-width : 360px) {
    
}

@media only screen and (min-width : 380px) {}

@media only screen and (min-width : 375px) {
    
}
@media only screen and (min-width : 411px) {
    
}
@media only screen and (min-width : 414px) {
    
}

@media only screen and (min-width : 480px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .btn {
        width: auto;
    }
    .btn-login {
        width: 100%;
    }
    .btn-w100 {
        width: 100%;
    }
    .logo__text {
        font-size: 26px;
    }
    .logo__img {
        width: 30px;
        height: 26px;
    }
    .logo.logo_footer .logo__img {
        float: left;
        margin-right: 15px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .footer {
        padding: 37px 0;
        text-align: left;
    }
    .footer a.footer__lnk {
        font-size: 16px;
        padding-top: 6px;
        margin-top: 0;
    }
    .footer a.footer__lnk + a.footer__lnk {
        margin-left: 50px;
    }
    .btn-unsubscribe {
        margin-top: 20px;
        float: right;
        width: auto;
    }
    .login-form .form-control {
        min-width: 370px;
    }
    .collage-login {
        margin: 33px 0 0;
        overflow: visible;
    }
    .collage-login__img {
        width: 100%;
        position: static;
    }
    .settings-photo {
        width: 320px;
        padding-right: 20px;
    }
    .settings-form {
        padding-left: 20px;
    }
    .settings-form__custom-control {
        margin-bottom: 0;
    }
    .custom-file {
        height: 294px;
    }
    .custom-file-area {
        height: 294px;
    }
    .custom-file-img {
        width: 320px;
        height: 300px;
    }
    .custom-file.image {
        height: 300px;
    }
    .custom-file.image .custom-file-area {
        height: 300px;
    }
    textarea.form-control {
        border-radius: 5px;
        min-height: 126px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        font-size: 15px;
    }
    .firstscreen.ph01 {
        background-image: url('../img/photos/01d.webp');
    }
    .firstscreen__block {
        padding: 0 0 0 85px;
        text-align: left;
    }
    .logo.logo_main .logo__img {
        float: left;
        margin-left: 0;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .slogan {
        font-family: "Arkipelago", sans-serif;
        font-weight: 400;
        font-size: 27px;
        margin: 16px 0 30px;
    }
    .header {
        padding-top: 37px;
        padding-bottom: 36px;
    }
    .header__btn {
        display: none;
    }
    .header__userinfo {
        display: block;
    }
    .content {
        padding-top: 46px;
    }
    .content.main {
        padding: 150px 0;
    }
    .wrap-horizontal,
    .content.main .wrap-horizontal {
        padding-left: 85px;
        padding-right: 85px;
    }
    .content.main p {
        font-size: 15px;
        margin-bottom: 2rem;
    }
    h1 {
        color: #5A5A5A;
        font-size: 35px;
        letter-spacing: 3px;
        margin: 0 0 45px;
    }
    .h1__circle {
        display: inline-block;
        background-color: #AFAFAF;
        border-radius: 15px;
    }
    .h1__circle1 {
        width: 5px;
        height: 5px;
    }
    .h1__circle2 {
        width: 6px;
        height: 6px;
    }
    .h1__circle3 {
        width: 7px;
        height: 7px;
    }
    h2 {
        font-size: 14px;
        margin: 0 0 42px;
    }
    .h2-login {
        margin: 46px 0 87px;
    }
    p {
        font-size: 15px;
        margin-bottom: 2rem;
        line-height: 33px;
    }
    .collage {
        margin-bottom: 150px;
    }
    .collage__img_xs {
        display: none;
    }
    .collage__img_lg {
        display: block;
        width: 116%;
        position: relative;
        left: -8%;
    }
    .footer {
        padding: 37px 0;
    }
    .btn {
        padding: 1.063rem 1.5rem;
    }
    .btn-wide5 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .form-group_login1 {
        margin-bottom: 1.8125rem;
    }
    .form-group_login2 {
        margin-bottom: 2.1875rem;
    }
    .form-group_login3 {
        margin-bottom: 1.5625rem;
    }
    .form-group_login4 {
        margin-bottom: 2.4375rem;
    }
    a.smallink {
        font-size: 12px;
    }
    .custom-checkbox .custom-control-label {
        font-size: 15px;
        line-height: 1.3;
    }
    .custom-radio .custom-control-label {
        font-size: 13px;
        line-height: 1.5;
    }
    .custom-switch .custom-control-label {
        font-size: 13px;
        line-height: 1.6;
    }
    .settings-photo {
        padding-right: 20px;
    }
    .settings-form {
        padding-left: 20px;
    }
    .settings-form__btn {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .wrap-horizontal {
        max-width: 1370px;
    }
    .content.main .wrap-horizontal,
    .footer.main .wrap-horizontal {
        max-width: none;
    }
    .settings-photo {
        padding-right: 50px;
    }
    .settings-form {
        padding-left: 50px;
    }
    .settings-form__btn {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}